@{
	var item = ViewBag.emailExt;
	{
        <div class="card shadow-none border-0 rounded-0 app-email-view-header p-5 pt-md-4 py-2">
            <!-- Email View : Title  bar-->
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center overflow-hidden">
                    <span class="ms-sm-2 me-4">
                        <i class="ti ti-chevron-left ti-md cursor-pointer"
                           data-bs-toggle="sidebar"
                           data-target="#app-email-view" onclick="handleBackClick();"></i>
                    </span>
                    <h6 class="text-truncate mb-0 me-2 fw-normal">@item.em_subject</h6>
                </div>
            </div>
            <hr class="app-email-view-hr mx-n5 mb-2" />
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <span class="btn btn-icon btn-text-secondary rounded-pill me-1">
                        <i class="ti ti-trash ti-md cursor-pointer"></i>
                    </span>
                    <span class="btn btn-icon btn-text-secondary rounded-pill me-1">
                        <i class="ti ti-mail ti-md cursor-pointer"
                           data-bs-toggle="sidebar"
                           data-target="#app-email-view"></i>
                    </span>
                    <div class="dropdown">
                        <button class="btn btn-icon btn-text-secondary rounded-pill p-0 me-1"
                                type="button"
                                id="dropdownMenuFolderTwo"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="ti ti-folder ti-md"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuFolderTwo">
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="ti ti-alert-octagon me-1"></i>
                                <span class="align-middle">Spam</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="ti ti-edit me-1"></i>
                                <span class="align-middle">Draft</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="ti ti-trash me-1"></i>
                                <span class="align-middle">Trash</span>
                            </a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-icon btn-text-secondary rounded-pill p-0"
                                type="button"
                                id="dropdownLabelTwo"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="ti ti-tag ti-md"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLabelTwo">
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="badge badge-dot bg-success me-1"></i>
                                <span class="align-middle">Workshop</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="badge badge-dot bg-primary me-1"></i>
                                <span class="align-middle">Company</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="badge badge-dot bg-info me-1"></i>
                                <span class="align-middle">Important</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <span class="btn btn-icon btn-text-secondary rounded-pill p-0">
                        <i class="ti ti-star ti-md"></i>
                    </span>
                    <div class="dropdown ms-1">
                        <button class="btn btn-icon btn-text-secondary rounded-pill p-0"
                                type="button"
                                id="dropdownMoreOptions"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="ti ti-dots-vertical ti-md"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMoreOptions">
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="ti ti-mail me-1"></i>
                                <span class="align-middle">Mark as unread</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="ti ti-mail-opened me-1"></i>
                                <span class="align-middle">Mark as read</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="ti ti-star ti-sm me-1"></i>
                                <span class="align-middle">Add star</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="ti ti-calendar me-1"></i>
                                <span class="align-middle">Create Event</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="ti ti-volume-off me-1"></i>
                                <span class="align-middle">Mute</span>
                            </a>
                            <a class="dropdown-item d-sm-none d-block" href="javascript:void(0)">
                                <i class="ti ti-printer me-1"></i>
                                <span class="align-middle">Print</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="m-0" />
        <!-- Email View : Content-->
        <div class="app-email-view-content py-4">
            <!-- Email View : Last mail-->
                <div class="card email-card-last mx-sm-6 mx-3 mt-4 hide-pseudo">
                <div class="card-header d-flex justify-content-between align-items-center flex-wrap border-bottom">
                    <div class="d-flex align-items-center mb-sm-0 mb-3">
                        <img src="~/assets/img/avatars/1.png"
                             alt="user-avatar"
                             class="flex-shrink-0 rounded-circle me-4"
                             height="38"
                             width="38" />
                        <div class="flex-grow-1 ms-1">
                            <h6 class="m-0 fw-normal">@item.em_from</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="mb-0 me-4 text-muted">@item.em_date</p>
                        <span class="btn btn-icon btn-text-secondary rounded-pill">
                            <i class="ti ti-paperclip ti-md cursor-pointer"></i>
                        </span>
                        <span class="btn btn-icon btn-text-secondary rounded-pill">
                            <i class="email-list-item-bookmark ti ti-star ti-md cursor-pointer"></i>
                        </span>
                        <div class="dropdown">
                            <button class="btn btn-icon btn-text-secondary rounded-pill dropdown-toggle hide-arrow"
                                    id="dropdownEmailTwo"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="true">
                                <i class="ti ti-dots-vertical ti-md"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownEmailTwo">
                                <a class="dropdown-item scroll-to-reply" href="javascript:void(0)">
                                    <i class="ti ti-corner-up-left me-1"></i>
                                    <span class="align-middle">Reply</span>
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="ti ti-corner-up-right me-1"></i>
                                    <span class="align-middle">Forward</span>
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="ti ti-alert-octagon me-1"></i>
                                    <span class="align-middle">Report</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-5">
                    <span class="html_content message">
                        <iframe srcdoc="@item.em_body" style="border: none; width: 100%; height: 350px"></iframe>
                    </span>
                </div>
            </div>
            <!-- Email View : Reply mail-->
            <div class="email-reply card mt-4 mx-sm-6 mx-3 mb-4">
                <h6 class="card-header border-0 fw-normal pb-4">Reply to @item.em_from</h6>
                <div class="card-body pt-0 ps-3">
                    <div class="d-flex justify-content-start">
                        <div class="email-reply-toolbar border-0 w-100 ps-0 pb-4">
                            <span class="ql-formats me-0">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                                <button class="ql-link"></button>
                                <button class="ql-image"></button>
                            </span>
                        </div>
                    </div>
                    <div class="email-reply-editor"></div>
                    <div class="d-flex justify-content-end align-items-center mt-4">
                        <div class="cursor-pointer btn btn-text-secondary text-secondary me-4">
                            <i class="ti ti-paperclip ti-16px text-heading me-2"></i>
                            <span class="align-middle">Attachments</span>
                        </div>
                        <button class="btn btn-primary">
                            <span class="align-middle">Send</span>
                            <i class="ti ti-send ti-16px ms-2 scaleX-n1-rtl"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
	}
}
