@{
    Layout = "_Layout";
    ViewBag.title = "Dashboard";
}

@try{
    <div class="tabcontent ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-1">
        <div class="dashboard_tab">
            <div class="dashboard_header user">
                <div class="user_avatar">
                    <img class="avatar" src="~/assets/content/img/s-logo.png" />
                </div>
                <div class="user_name">
                    <span class="user_label">Attentify</span>
                    <br />
                    <div class="user_presence automatic  chat user_presence_container" style="display:none;">
                        <div class="select">
                            <span class="available_indicator"></span>
                            <span class="current_online">Online</span>
                            <span class="current_automatic">Service hours</span>
                            <span class="current_offline">Offline</span>
                            <span class="current_busy">
                                Busy
                                <span class="max_waiting_instant_conversations">(Max waiting instant conversations reached)</span>
                                <span class="max_instant_conversations">(Max instant conversations reached)</span>
                                <span class="on_the_phone">(on the phone)</span>
                            </span>
                            <span class="current_away">
                                Away
                            </span>
                        </div>
                        <span class="current_away">
                            <span class="away_owner">Notice that you&#39;re currently a web stores Owner</span>
                        </span>
                        <div class="selector_container">
                            <div class="selector">
                                <ul>
                                    <li class="current_automatic">
                                        <input id="automatic_yes" type="radio" name="automatic" checked="checked" value="user_presence">
                                        <label class="user_radio yes" for="automatic_yes"></label>
                                        <span class="available_indicator"></span>
                                        <span class="caption">Service hours</span>
                                    </li>
                                    <li class="automatic">
                                        <input id="automatic_no" type="radio" name="automatic" value="user_presence">
                                        <label class="user_radio no" for="automatic_no"></label>
                                        <span class="available_indicator"></span>
                                        <span class="caption">Service hours</span>
                                    </li>
                                    <li class="current_online">
                                        <input id="online_yes" type="radio" name="online" checked="checked"
                                               value="user_presence">
                                        <label class="user_radio yes" for="online_yes"></label>
                                        <span class="available_indicator"></span>
                                        <span class="caption">Online</span>
                                    </li>
                                    <li class="online">
                                        <input id="online_no" type="radio" name="online" value="user_presence">
                                        <label class="user_radio no" for="oneline_no"></label>
                                        <span class="available_indicator"></span>
                                        <span class="caption">Online</span>
                                    </li>
                                    <li class="current_offline">
                                        <input id="offline_yes" type="radio" name="offline" checked="checked"
                                               value="user_presence">
                                        <label class="user_radio yes" for="offline_yes"></label>
                                        <span class="available_indicator"></span>
                                        <span class="caption">Offline</span>
                                    </li>
                                    <li class="offline">
                                        <input id="offline_no" type="radio" name="offline" value="user_presence">
                                        <label class="user_radio no" for="offline_no"></label>
                                        <span class="available_indicator"></span>
                                        <span class="caption">Offline</span>
                                    </li>
                                    <li class="current_away">
                                        <input id="away_yes" type="radio" name="away" checked="checked" value="user_presence">
                                        <label class="user_radio yes" for="away_yes"></label>
                                        <span class="available_indicator"></span>
                                        <span class="caption">Away</span>
                                    </li>
                                    <li class="away">
                                        <input id="away_no" type="radio" name="away" value="user_presence">
                                        <label class="user_radio no" for="away_no"></label>
                                        <span class="available_indicator"></span>
                                        <span class="caption">Away</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard_search d-none">
                    <div class="search_input_container">
                        <span class="search_icon icon" data-icon="Q"></span>
                        <input id="search_input" type="text" title="Search" placeholder="Search">
                        <span class="cancel_icon icon" data-icon="-"></span>
                    </div>
                    <div class="search_result" style="display:none;">
                        <div class="add_customer">
                            <span class="icon" data-icon="a"></span>
                            <span class="label">Add customer:</span>
                            <span class="value"></span>
                        </div>
                        <div class="customers">
                            <ul>
                                <li class="header">Customers</li>
                            </ul>
                        </div>
                        <div class="conversations">
                            <ul>
                                <li class="header">Conversations</li>
                            </ul>
                        </div>
                        <div class="orders">
                            <ul>
                                <li class="header">Orders</li>
                            </ul>
                        </div>
                        <div>
                            <div class="no_results" style="display: none;">No results found</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard_content snooze" style="min-height: calc(100vh - 80px);">
                <div class="inbox_menu_column">
                    <div class="menu mode_inbox">
                        <div class="items">
                            <span data-mode="1" class="mode_inbox menu_item @(ViewBag.Type == 1 ? "active": "")" data-icon="x">
                                <span class="menu_item_tooltip">My inbox</span>
                            </span>
                            <span data-mode="2" class="mode_archived menu_item @(ViewBag.Type == 2 ? "active": "")" data-icon="b">
                                <span class="menu_item_tooltip">Archive</span>
                            </span>
                            <span data-mode="9" class="mode_mysnoozed menu_item d-none" data-icon="">
                                <span class="menu_item_tooltip">My snoozed conversations</span>
                            </span>
                        </div>
                        <div class="items">
                            <span data-mode="3" class="mode_open menu_item @(ViewBag.Type == 3 ? "active": "")" data-icon="8">
                                <span class="menu_item_tooltip">SMS</span>
                            </span>
                            <span data-mode="10" class="mode_teamsnoozed menu_item d-none" data-icon="">
                                <span class="menu_item_tooltip">Team snoozed conversations</span>
                            </span>
                            <span data-mode="4" class="mode_unwanted menu_item d-none" data-icon="3">
                                <span class="menu_item_tooltip">Unwanted</span>
                            </span>
                        </div>
                        <div class="items d-none">
                            <span data-mode="11" class="mode_filter menu_item" data-icon="">
                                <span class="menu_item_tooltip">Filter</span>
                            </span>
                        </div>
                        <div id="popup_menu">
                            <div class="dashboard_menu_popup d-none">
                                <ul>
                                    <li id="whats_new" class="popup_menu_item">
                                        <a href="javascript:void(0)">
                                            <span data-icon="C" class="menu_popup_icon"></span>
                                            <span>What’s New</span>
                                        </a>
                                    </li>
                                    <li id="support-menu-item" class="support_tab" onclick="return showSupportWidget();">
                                        <a href="javascript:void(0)">
                                            <span data-icon="" class="menu_popup_icon"></span>
                                            <span>Need help?</span>
                                        </a>
                                    </li>
                                    <li id="reporting_menu_item" class="reporting_tab no-closeicon">
                                        <a href="javascript:void(0)" title="Reporting">
                                            <span data-icon="T" class="menu_popup_icon"></span>
                                            <span>Reporting</span>
                                        </a>
                                    </li>
                                    <li id="feature_request" class="popup_menu_item">
                                        <a href="javascript:void(0)">
                                            <span data-icon="" class="menu_popup_icon"></span>
                                            <span>Idea portal</span>
                                        </a>
                                    </li>
                                    <li id="audio_settings" class="popup_menu_item">
                                        <a href="javascript:void(0)" title="Audio settings">
                                            <span data-icon="" class="menu_popup_icon"></span>
                                            <span>Audio settings</span>
                                        </a>
                                    </li>
                                    <li id="settings">
                                        <a href="javascript:void(0)">
                                            <span data-icon="R" class="menu_popup_icon"></span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li id="logout_menu_item" class="settings_tab no-closeicon">
                                        <a href="/account/logout" title="logout">
                                            <span data-icon="H" id="logout-icon" class="menu_popup_icon"></span>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                    <li class="dark_mode_menu_item">
                                        <div class="dark_mode_toggle_menu_item">
                                            <label class="switch right">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                                <span class="label">Dark mode</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="dashboard_menu_item">
                            <span class="mode_popup menu_item" data-icon=""></span>
                        </div>
                    </div>
                </div>
                <div class="inbox_column">
                    <ul class="reset">
                        <li class="inbox_list">
                            <div id="inbox" class="inbox actions">
                                <div class="inbox_header">
                                    <div class="header mode_filterinbox mode_open">
                                        <span class="caption">inbox</span>
                                        <span data-icon="L" class="button refresh_static_view"></span>
                                        <div class="selector" style="display: none;">
                                            <ul>
                                                <li data-mode="1" class="mode_inbox">
                                                    <span class="icon" data-icon="x"></span>
                                                    <span class="label">My inbox</span>
                                                </li>
                                                <li data-mode="3" class="mode_open">
                                                    <span class="icon" data-icon="N"></span>
                                                    <span class="label">SMS</span>
                                                </li>
                                                <li data-mode="11" class="mode_filter">
                                                    <span class="icon" data-icon=""></span>
                                                    <span class="label">Filter</span>
                                                </li>
                                                <li data-mode="5" class="mode_archived">
                                                    <span class="icon" data-icon="b"></span>
                                                    <span class="label">Archive</span>
                                                </li>
                                                <li data-mode="9" class="mode_mysnoozed">
                                                    <span class="icon" data-icon=""></span>
                                                    <span class="label">My snoozed conversations</span>
                                                </li>
                                                <li data-mode="10" class="mode_teamsnoozed">
                                                    <span class="icon" data-icon=""></span>
                                                    <span class="label">Team snoozed conversations</span>
                                                </li>
                                                <li data-mode="4" class="mode_unwanted">
                                                    <span class="icon" data-icon="3"></span>
                                                    <span class="label">Unwanted</span>
                                                    <span class="counter" style="display: none;">0</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="inbox_filter">
                                    <div class="inbox_filter" style="display: none;">
                                        <div>
                                            <div class="filter_state">
                                                <span class="label">State</span>
                                                <span class="state open selected" data-value="1">Open</span>
                                                <span class="state archived" data-value="2">Archive</span>
                                                <span class="state snoozed" data-value="3">Snoozed</span>
                                            </div>
                                            <ul class="filters"></ul>
                                            <div class="filter_actions">
                                                <span class="action add" data-icon="G"></span>
                                                <span class="apply">Apply filter</span>
                                            </div>
                                            <div class="filter_summary_sort" data-value="2">
                                                <span class="number_of_results">330</span>
                                                <span class="summary">filter results</span>
                                                <span class="sort">
                                                    <span class="order" data-icon=""></span>
                                                    <span class="field">Start date</span>
                                                    <span class="selector" data-icon=" k"></span>
                                                </span>
                                                <div class="filter_sort_popup"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="inbox_actions mine">
                                    <div class="checkbox">
                                        <input type="checkbox" value="None" id="checkbox" name="check" />
                                        <label for="checkbox"></label>
                                    </div>
                                    <div class="actions">
                                        <span class="action bulkactions enabled"><span class="icon" data-icon="&#xe00f;"></span><span>Bulk actions</span></span>
                                        <span class="action takeownership"><span class="icon" data-icon="C"></span><span>Take ownership</span></span>
                                        <span class="action archive enabled"><span class="icon" data-icon="b"></span><span>Archive</span></span>
                                        <span class="action forward"><span class="icon" data-icon="m"></span><span>Forward</span></span>
                                    </div>
                                </div>
                                <div class="inbox_content inbox_scroll" style="margin-top: 0px;">
                                    <ul class="reset vertical inbox_items" id="preview_emails">
                                    
                                    </ul>
                                </div>                            
                            </div>
                        </li>
                    </ul>
                </div>
                <input type="hidden" name="PageNo" value="@ViewBag.PageNo" />
                <input type="hidden" name="Type" value="@ViewBag.Type" />
                    <input type="hidden" name="PageCnt" value="@ViewBag.PageCnt" />
                <div class="widgets">
                    <div class="widget two_column clearfix">
                        <div id="personalInboxOverviewController" class="ng-scope">
                            <div class="personal_inbox_overview widget_inner">
                                <div class="header">
                                    <h1 class="ng-binding">My inbox overview</h1>
                                </div>                           
                                <div ng-class="{true:'loading', false:''}[loading]" class="content">
                                    <div class="overall">
                                        <div class="active">
                                            <span class="unread_badge ng-binding" data-icon="W"></span>
                                            <div class="total_conversations block" ng-click="filterInbox(filters.PersonalInbox, filterExpessionTypes.And)">
                                                <span class="value ng-binding">0</span>
                                                <span class="description ng-binding" data-icon="x">My inbox</span>
                                            </div>
                                        </div>
                                        <div class="too_late block">
                                            <span class="value ng-binding">0</span>
                                            <span class="description ng-binding" data-icon="t">Too late</span>
                                        </div>
                                        <div class="danger block em_danger">
                                            <span class="value ng-binding">0</span>
                                            <span class="description ng-binding" data-icon="t">Danger</span>
                                        </div>
                                        <div class="on_time block">
                                            <span class="value ng-binding">0</span>
                                            <span class="description ng-binding" data-icon="t">On time</span>
                                        </div>
                                        <div class="open block">
                                            <span class="value ng-binding">0</span>
                                            <span class="description ng-binding" data-icon="t">Open</span>
                                        </div>
                                        <div class="unsnoozed block">
                                            <span class="value ng-binding">0</span>
                                            <span class="description ng-binding" data-icon="">Follow up</span>
                                        </div>
                                    </div>
                                    <table class="webstores ng-hide d-none" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr class="head">
                                                <td class="webstore_name">
                                                    <span>Webstores</span>
                                                </td>
                                                <td class="red icon" data-icon="t"></td>
                                                <td class="orange icon" data-icon="t"></td>
                                                <td class="green icon" data-icon="t"></td>
                                                <td class="open icon" data-icon="t"></td>
                                                <td class="unsnoozed icon" data-icon=""></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="webstores scrollarea ng-isolate-scope ng-hide d-none my-webstores" ng-scrollbar="" rebuild-on="scroll:init">
                                        <div class="ngsb-wrap" style="height: 100%;">
                                            <div class="ngsb-container" ng-transclude="" style="position:relative;top:0">
                                                <table cellspacing="0" cellpadding="0" class="ng-scope">
                                                    <tbody>
                                                        <!-- ngRepeat: webstore in data.WebStores -->
                                                        <tr ng-class="filterIsActive(filters.WebStoreId, '\'' + webstore.WebStoreId + '\'')" ng-repeat="webstore in data.WebStores" ng-class-odd="'odd'" ng-class-even="'even'" class="webstore ng-scope odd" ng-click="filterInbox(filters.WebStoreId, filterExpessionTypes.And, '\'' + webstore.WebStoreId + '\'')">
                                                            <td class="webstore_name">
                                                                <span class="logo">
                                                                    <img src="~/assets/content/img/s-logo.png">
                                                                </span>
                                                                <span class="name ng-binding">attentify</span>
                                                            </td>
                                                            <td ng-show="webstore.NumberOfRedConversations>0" class="red value ng-binding">187</td>
                                                            <td ng-show="webstore.NumberOfOrangeConversations>0" class="orange value ng-binding">42</td>
                                                            <td ng-show="webstore.NumberOfGreenConversations>0" class="green value ng-binding">86</td>
                                                            <td ng-show="webstore.NumberOfConversationsWithoutSla>0" class="open value ng-binding ng-hide">0</td>
                                                            <td ng-show="webstore.NumberOfSnoozedConversationsInInbox>0" class="unsnoozed value ng-binding ng-hide">0</td>
                                                        </tr><!-- end ngRepeat: webstore in data.WebStores -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="expand-div expand">
                                    <span class="icon" data-icon="V"></span>
                                    <span class="ng-binding">Expand</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget two_column clearfix">
                        <div id="smsOverview" class="ng-scope">
                            <div class="personal_inbox_overview widget_inner">
                                <div class="header">
                                    <h1 class="ng-binding">My SMS overview</h1>
                                </div>
                                <div ng-class="{true:'loading', false:''}[loading]" class="content">
                                    <div class="overall">
                                        <div class="active">
                                            <span class="unread_badge ng-binding d-none" data-icon="W">0</span>
                                            <div class="total_conversations block" ng-click="filterInbox(filters.PersonalInbox, filterExpessionTypes.And)">
                                                <span class="value ng-binding">0</span>
                                                <span class="description ng-binding" data-icon="x">My inbox</span>
                                            </div>
                                        </div>
                                        <div class="too_late block">
                                            <span class="value ng-binding">0</span>
                                            <span class="description ng-binding" data-icon="t">Too late</span>
                                        </div>
                                        <div class="danger block em_danger">
                                            <span class="value ng-binding">0</span>
                                            <span class="description ng-binding" data-icon="t">Danger</span>
                                        </div>
                                        <div class="on_time block">
                                            <span class="value ng-binding">0</span>
                                            <span class="description ng-binding" data-icon="t">On time</span>
                                        </div>
                                        <div class="open block">
                                            <span class="value ng-binding">0</span>
                                            <span class="description ng-binding" data-icon="t">Open</span>
                                        </div>                                    
                                    </div>
                                    <table class="webstores ng-hide d-none" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr class="head">
                                                <td class="webstore_name">
                                                    <span>Webstores</span>
                                                </td>
                                                <td class="red icon" data-icon="t"></td>
                                                <td class="orange icon" data-icon="t"></td>
                                                <td class="green icon" data-icon="t"></td>
                                                <td class="open icon" data-icon="t"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="webstores scrollarea ng-isolate-scope ng-hide d-none my-webstores" ng-scrollbar="" rebuild-on="scroll:init">
                                        <div class="ngsb-wrap" style="height: 100%;">
                                            <div class="ngsb-container" ng-transclude="" style="position:relative;top:0">
                                                <table cellspacing="0" cellpadding="0" class="ng-scope">
                                                    <tbody>
                                                        <!-- ngRepeat: webstore in data.WebStores -->
                                                        <tr ng-class="filterIsActive(filters.WebStoreId, '\'' + webstore.WebStoreId + '\'')" ng-repeat="webstore in data.WebStores" ng-class-odd="'odd'" ng-class-even="'even'" class="webstore ng-scope odd" ng-click="filterInbox(filters.WebStoreId, filterExpessionTypes.And, '\'' + webstore.WebStoreId + '\'')">
                                                            <td class="webstore_name">
                                                                <span class="logo">
                                                                    <img src="~/assets/content/img/s-logo.png">
                                                                </span>
                                                                <span class="name ng-binding">attentify</span>
                                                            </td>
                                                            <td ng-show="webstore.NumberOfRedConversations>0" class="red value ng-binding">0</td>
                                                            <td ng-show="webstore.NumberOfOrangeConversations>0" class="orange value ng-binding">0</td>
                                                            <td ng-show="webstore.NumberOfGreenConversations>0" class="green value ng-binding">0</td>
                                                            <td ng-show="webstore.NumberOfConversationsWithoutSla>0" class="open value ng-binding ng-hide">0</td>
                                                        </tr><!-- end ngRepeat: webstore in data.WebStores -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="expand-div expand">
                                    <span class="icon" data-icon="V"></span>
                                    <span class="ng-binding">Expand</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget two_column clearfix">
                        <div id="performance_data" class="widget  two_column clearfix">
                            <div class="widget_inner performance_data">
                                <div class="mobile_header_bar">
                                    <span class="icon" data-icon="T"></span>
                                    <span class="title">Dashboard</span>
                                </div>
                                <div class="header">
                                    <h1>Performance Data</h1>
                                    <div class="actions d-none">
                                        <select class="when_select">
                                            <option value="1">Today</option>
                                            <option value="2">This week</option>
                                        </select>
                                        <select class="who_select">
                                            <option value="1">Me</option>
                                            <option value="2">Team</option>
                                        </select>
                                        <span class="refresh icon" data-icon="L"></span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="sales">
                                        <div class="acquisition">
                                            <span class="percentage">0%</span>
                                            <span class="value">0</span>
                                            <div class="chart">
                                                <svg width="150" height="150" viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <path d="M 75.0549465430406 6.000021877703418 A 69 69 0 1 1 75.04906034932266 6.000017441436086 Z M 75.03643975221429 23.75001295468985 A 51.25 51.25 0 1 0 75.04081174392508 23.750016249743474 Z" fill="none"></path>
                                                    <g opacity="0.9999998780673678">
                                                        <path stroke-width="1" stroke="" fill="#007FFF" data-order="0" d="M 75 10 A 65 65 0 0 1 75 10 L 75 19.75 A 55.25 55.25 0 0 0 75 19.75 Z"></path>
                                                        <path stroke-width="1" stroke="" fill="#D6DDE4" data-order="1" d="M 75 10 A 65 65 0 1 1 74.99995020185398 10.000000000019071 L 74.99995767157588 19.750000000016215 A 55.25 55.25 0 1 0 75 19.75 Z"></path>
                                                    </g>
                                                </svg>
                                                <div class="doughnutSummary" style="width: 91px; height: 91px; margin-left: -45.5px; margin-top: -45.5px;">
                                                    <p class="doughnutSummaryTitle"></p>
                                                    <p class="doughnutSummaryNumber" style="opacity: 1; font-size: 14px;">100</p>
                                                </div>
                                            </div>
                                            <span class="title">Acquisition</span>
                                        </div>
                                        <div class="retention">
                                            <span class="percentage">0%</span>
                                            <span class="value">0</span>
                                            <div class="chart">
                                                <svg width="150" height="150" viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <path d="M 75.0549465430406 6.000021877703418 A 69 69 0 1 1 75.04906034932266 6.000017441436086 Z M 75.03643975221429 23.75001295468985 A 51.25 51.25 0 1 0 75.04081174392508 23.750016249743474 Z" fill="none"></path>
                                                    <g opacity="0.9999998780673678">
                                                        <path stroke-width="1" stroke="" fill="#007FFF" data-order="0" d="M 75 10 A 65 65 0 0 1 75 10 L 75 19.75 A 55.25 55.25 0 0 0 75 19.75 Z"></path>
                                                        <path stroke-width="1" stroke="" fill="#D6DDE4" data-order="1" d="M 75 10 A 65 65 0 1 1 74.99995020185398 10.000000000019071 L 74.99995767157588 19.750000000016215 A 55.25 55.25 0 1 0 75 19.75 Z"></path>
                                                    </g>
                                                </svg>
                                                <div class="doughnutSummary" style="width: 91px; height: 91px; margin-left: -45.5px; margin-top: -45.5px;">
                                                    <p class="doughnutSummaryTitle"></p>
                                                    <p class="doughnutSummaryNumber" style="opacity: 1; font-size: 14px;">100</p>
                                                </div>
                                            </div>
                                            <span class="title">Retention</span>
                                        </div>
                                    </div>
                                    <div class="widget-container">
                                        <div class="rating">
                                            <div class="header">Rating</div>
                                            <div class="happy">
                                                <span class="value">0</span>
                                                <div class="footer">
                                                    <span class="icon" data-icon="X"></span>
                                                    <span class="title">happy</span>
                                                </div>
                                            </div>
                                            <div class="neutral">
                                                <span class="value">0</span>
                                                <div class="footer">
                                                    <span class="icon" data-icon="J"></span>
                                                    <span class="title">neutral</span>
                                                </div>
                                            </div>
                                            <div class="sad">
                                                <span class="value">0</span>
                                                <div class="footer">
                                                    <span class="icon" data-icon="d"></span>
                                                    <span class="title">sad</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="state">
                                            <div class="header">Performance Data</div>
                                            <div class="archived">
                                                <span class="value">0</span>
                                                <div class="footer">
                                                    <span class="icon" data-icon="b"></span>
                                                    <span class="title">archived</span>
                                                </div>
                                            </div>
                                            <div class="replied">
                                                <span class="value">0</span>
                                                <div class="footer">
                                                    <span class="icon" data-icon="m"></span>
                                                    <span class="title">replied</span>
                                                </div>
                                            </div>
                                            <div class="ontime">
                                                <span class="value">83%</span>
                                                <div class="footer">
                                                    <span class="icon" data-icon="t"></span>
                                                    <span class="title">on time</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="loading" style="display: none;">
                                    <span class="smaller-size">Loading...</span>
                                </div>
                                <div class="error_message" style="display: none;">
                                    <span class="smaller-size">Something went wrong, please contact support. </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget welcome two_row two_column clearfix"></div>
                    <div id="performance_data" class="widget  two_column clearfix"></div>
                    <div class="widget reporting_retention two_column clearfix">
                        <div class="widget_inner" id="reporting_retention">
                            <div class="header">
                                <h1>RetentionGrid</h1>
                            </div>
                            <!-- RETENTIONGRID HTML GOES HERE -->
                            <div id="wrap" class="app-container">
                                <div id="main">
                                    <div class="container" style="overflow:visible;">
                                        <div class="content" style="position: relative;">
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12">
                                                    <div class="row" id="gridarea">
                                                        <div class="col-lg-8 col-sm-12">
                                                            <table class="grid retention-grid" id="grid" cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="headline dimension-description with-padding" colspan="1"
                                                                            rowspan="9">
                                                                            <div class="vertical-text no-height">
                                                                                <div class="vertical-text__inner non-covering">number of orders</div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="headline dimension-description top-heading" colspan="9">
                                                                            days since
                                                                            last order
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td id="axes">&nbsp;</td>
                                                                        <th class="col-heading">
                                                                            366+
                                                                            <div class="days-string">days</div>
                                                                        </th>
                                                                        <th class="col-heading">
                                                                            181-365
                                                                            <div class="days-string">days</div>
                                                                        </th>
                                                                        <th class="col-heading">
                                                                            91-180
                                                                            <div class="days-string">days</div>
                                                                        </th>
                                                                        <th class="col-heading">
                                                                            61-90
                                                                            <div class="days-string">days</div>
                                                                        </th>
                                                                        <th class="col-heading">
                                                                            31-60
                                                                            <div class="days-string">days</div>
                                                                        </th>
                                                                        <th class="col-heading">
                                                                            0-30
                                                                            <div class="days-string">days</div>
                                                                        </th>
                                                                        <td></td>
                                                                        <td class="headline dimension-description" colspan="1" rowspan="6">
                                                                            <div class="vertical-text">
                                                                                <div class="vertical-text__inner pull-down">customers</div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="row-heading">10+</th>
                                                                        <td class="grid-cell lost pop segment" data-segment="lost">
                                                                        </td>
                                                                        <td class="atrisk grid-cell pop segment" data-segment="atrisk">
                                                                        </td>
                                                                        <td class="atrisk grid-cell pop segment" data-segment="atrisk">
                                                                        </td>
                                                                        <td class="grid-cell loyal pop segment" data-segment="loyal">
                                                                        </td>
                                                                        <td class="grid-cell loyal pop segment" data-segment="loyal">
                                                                        </td>
                                                                        <td class="grid-cell loyal pop segment" data-segment="loyal">
                                                                        </td>
                                                                        <td class="grid-cell totals totals-right" colspan="1" data-segment="">
                                                                            0
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="row-heading">6-9</th>
                                                                        <td class="grid-cell lost pop segment" data-segment="lost">
                                                                            <div class="group-label lost" id="pop-lost">
                                                                                <div id="lost">
                                                                                    <div class="customer-count">
                                                                                        0
                                                                                    </div>
                                                                                    red alert
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="atrisk grid-cell pop segment" data-segment="atrisk">
                                                                            <div class="atrisk group-label" id="pop-atrisk">
                                                                                <div id="atrisk">
                                                                                    <div class="customer-count">
                                                                                        3
                                                                                    </div>
                                                                                    at risk
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="atrisk grid-cell pop segment" data-segment="atrisk">
                                                                        </td>
                                                                        <td class="grid-cell loyal pop segment" data-segment="loyal">
                                                                        </td>
                                                                        <td class="grid-cell loyal pop segment" data-segment="loyal">
                                                                            <div class="group-label loyal" id="pop-loyal">
                                                                                <div id="loyal">
                                                                                    <div class="customer-count">
                                                                                        0
                                                                                    </div>
                                                                                    loyal
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="grid-cell loyal pop segment" data-segment="loyal">
                                                                        </td>
                                                                        <td class="grid-cell totals totals-right" colspan="1" data-segment="">
                                                                            0
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="row-heading">4-5</th>
                                                                        <td class="grid-cell lost pop segment" data-segment="lost">
                                                                        </td>
                                                                        <td class="atrisk grid-cell pop segment" data-segment="atrisk">
                                                                        </td>
                                                                        <td class="atrisk grid-cell pop segment" data-segment="atrisk">
                                                                        </td>
                                                                        <td class="grid-cell loyal pop segment" data-segment="loyal">
                                                                        </td>
                                                                        <td class="grid-cell loyal pop segment" data-segment="loyal">
                                                                        </td>
                                                                        <td class="grid-cell loyal pop segment" data-segment="loyal">
                                                                        </td>
                                                                        <td class="grid-cell totals totals-right" colspan="1" data-segment="">
                                                                            3
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="row-heading">3</th>
                                                                        <td class="formernew grid-cell pop segment" data-segment="formernew">
                                                                        </td>
                                                                        <td class="formernew grid-cell pop segment" data-segment="formernew">
                                                                        </td>
                                                                        <td class="formernew grid-cell pop segment" data-segment="formernew">
                                                                        </td>
                                                                        <td class="grid-cell newatrisk pop segment" data-segment="newatrisk">
                                                                        </td>
                                                                        <td class="grid-cell pop promising segment" data-segment="promising">
                                                                            <div class="group-label promising" id="pop-promising">
                                                                                <div id="promising">
                                                                                    <div class="customer-count">
                                                                                        0
                                                                                    </div>
                                                                                    promising
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="grid-cell pop promising segment" data-segment="promising">
                                                                        </td>
                                                                        <td class="grid-cell totals totals-right" colspan="1" data-segment="">
                                                                            1
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="row-heading">2</th>
                                                                        <td class="formernew grid-cell pop segment" data-segment="formernew">
                                                                        </td>
                                                                        <td class="formernew grid-cell pop segment" data-segment="formernew">
                                                                            <div class="formernew group-label" id="pop-formernew">
                                                                                <div id="formernew">
                                                                                    <div class="customer-count">
                                                                                        7
                                                                                    </div>
                                                                                    sleepers
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="formernew grid-cell pop segment" data-segment="formernew">
                                                                        </td>
                                                                        <td class="grid-cell newatrisk pop segment" data-segment="newatrisk">
                                                                        </td>
                                                                        <td class="grid-cell pop promising segment" data-segment="promising">
                                                                        </td>
                                                                        <td class="grid-cell pop promising segment" data-segment="promising">
                                                                        </td>
                                                                        <td class="grid-cell totals totals-right" colspan="1" data-segment="">
                                                                            4
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="row-heading">1</th>
                                                                        <td class="formernew grid-cell pop segment" data-segment="formernew">
                                                                        </td>
                                                                        <td class="formernew grid-cell pop segment" data-segment="formernew">
                                                                        </td>
                                                                        <td class="formernew grid-cell pop segment" data-segment="formernew">
                                                                        </td>
                                                                        <td class="grid-cell newatrisk pop segment" data-segment="newatrisk">
                                                                            <div class="group-label newatrisk" id="pop-newatrisk">
                                                                                <div id="newatrisk">
                                                                                    <div class="customer-count">
                                                                                        0
                                                                                    </div>
                                                                                    drifting
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="grid-cell newatrisk pop segment" data-segment="newatrisk">
                                                                        </td>
                                                                        <td class="grid-cell newest pop segment" data-segment="newest">
                                                                            <div class="group-label newest" id="pop-newest">
                                                                                <div id="newest">
                                                                                    <div class="customer-count">
                                                                                        0
                                                                                    </div>
                                                                                    new
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td class="grid-cell pop total totals-right" colspan="2"
                                                                            data-segment="onetime">
                                                                            <a href="javascript:;">
                                                                                <div class="group-label onetime" id="pop-onetime">
                                                                                    <div id="onetime">
                                                                                        20%
                                                                                        <br>
                                                                                        only once
                                                                                        <br>
                                                                                        2
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td class="grid-cell totals totals-bottom">0</td>
                                                                        <td class="grid-cell totals totals-bottom">1</td>
                                                                        <td class="grid-cell totals totals-bottom">9</td>
                                                                        <td class="grid-cell totals totals-bottom">0</td>
                                                                        <td class="grid-cell totals totals-bottom">0</td>
                                                                        <td class="grid-cell totals totals-bottom">0</td>
                                                                        <td class="grid-cell total grand pop" colspan="2" data-segment="all">
                                                                            <a href="javascript:;">
                                                                                <div class="group-label total" id="pop-all">
                                                                                    10
                                                                                    <br>
                                                                                    total
                                                                                </div>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="headline dimension-description" colspan="10">customers</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- RETENTIONGRID HTML ENDS HERE -->

                        </div>
                    </div>
                    <div class="widget service_performance two_column clearfix" data-happy="85" data-answered-in-24="100">
                        <div id="forward_conversations_message" class="messagebar"></div>
                        <div class="widget_inner">
                            <div class="header">
                                <h1>Service Performance</h1>
                            </div>
                            <div class="content clearfix">
                                <ul>
                                    <li>
                                        <div class="rating happy_customers">
                                            <span class="icon" data-icon="X"></span>
                                            <span>85%</span>
                                        </div>
                                        <div class="label"> happy customers</div>
                                    </li>
                                    <li>
                                        <div class="rating day_percentage">
                                            <span class="icon" data-icon="t"></span>
                                            <span></span>
                                        </div>
                                        <div class="label">on time</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="once_in_a_lifetime_offer"></div>
                    <div class="refresh_popup"></div>
                    <div class="purchase_plan"></div>
                    <div class="bulk_actions"></div>
                </div>
            </div>
        </div>
    </div>
}catch(Exception ex){
    Console.WriteLine("dashbaord" + ex.Message);
}