@{
    if (ViewBag.Emails.Count != 0)
	{
        @foreach (var item in ViewBag.Emails)
        {
            <li class="inbox_list_item">
                <div class="messagebar_item"></div>
                <div class="inboxitem unread open owner actionallowed long_waiting_time default-colors" data-id="@item.em_id" data-email="@item.em_from">
                    <div class="inboxitemrow">
                        <div class="avatar">
                            <span class="icon" style="background-image: url(../assets/content/img/color.svg)"></span>
                        </div>
                        <div class="inboxitemcolumn shopper_info">
                            <div class="title">
                                <span class="online_indicator"></span>
                                <span class="initiator ">@item.em_from</span>
                            </div>
                            <div class="clt_info">
                                <span data-icon="B" class="orders_count_img"></span>
                                <span class="orders_count_txt">0</span>
                                <span data-icon="M" class="total_revenue_img"></span>
                                <span class="total_revenue_txt"></span>
                            </div>
                        </div>
                        <div class="container inboxitemright inboxitemcolumn date_info">
                            <div class="inboxitemrow date">
                                <span class="wait_time" data-datetime="1723188940057">Waiting (<span data-waittime="10680269" class="value">178004:29m</span>)</span>
                                <span class="call_duration" data-datetime="-1">Call duration: <span data-callduration="" class="value"></span></span>
                                <span class="date" data-datetime="1723188940057">@item.em_date_ex</span>
                                <span data-icon="t" class="sl_indicator @(item.em_status == 1 ? "green" : item.em_status == 2 ? "danger" : "red")"></span>
                            </div>
                        </div>
                    </div>
                    <div class="inboxitemrow">
                        <div class="actionselect">
                            <div class="checkbox">
                                <input id="@item.em_id" type="checkbox">
                                <label for="@item.em_id" ></label>
                            </div>
                        </div>
                        <div class="initialmessage">
                            <div class="inboxitemcolumn">
                                <span class="subject">@item.em_subject</span>
                                <span class="message_content">
                                    <span data-icon="S" style="display: none;" class="answered_indicator"></span>
                                    <span class="message_text"></span>
                                </span>
                            </div>
                        </div>
                        <div class="inboxitemscolumn inboxitemright">
                            <span class="owner_avatar">
                                <img class="avatar" alt="owner" src="~/assets/content/img/s-logo.png" />
                                <div class="owner_typing"><span>...</span></div>
                                <span class="archive" data-icon="b" title="Archive"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </li>
            <li id="emptySearchResult" class="no-searchresults" style="display:none">
                <span>No results found</span>
            </li>
        }
	}    
}
